body {
  background: #CC883D url("../kepek/automatak-szervizelese/automatak-szervizelese-hatter.jpg") no-repeat center center fixed;
  background-size: cover;
}
#tartalom h2 {
  font-size: 110%;
}