@media (min-width: 768px) {
  .contact .cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .contact .card.company {
    grid-column: span 2;
  }
}

@media (min-width: 1200px) {
  .contact .contact-grid {
    grid-template-columns: repeat(2, auto);
  }

  .contact .section-header {
    position: sticky;
    top: 3rem;
  }
}