.flow {
  background: #1e1e1e;
}

.flow .cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr 0.1875rem) 1fr;
}

.card {
  margin: 2rem;
  background-color: #2e1e1e;
}

.flow .card.grid {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 2rem;
}

.flow .card .frame {
  margin-top: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7.5rem;
  height: 7.5rem;
  grid-row: 1/4;
  border: 1px solid #e1e1e1;
  border-radius: 50%;
}

.flow .card .frame img {
  width: 50%;
  height: auto;
}

.flow .card h2 {
  margin: 0;
  font-size: var(--font-size-flow-h2);
  line-height: 1.2;
}

.flow .card h3 {
  margin: 0;
  font-size: var(--font-size-flow-h3);
  line-height: 1.2;
}


.flow .card p {
  margin: 0;
  color: var(--color-muted);
}

/*linear-gradient(180deg, transparent, rgba(255, 255, 255, .02), transparent)*/
