.flow {
  background: linear-gradient(180deg, transparent, rgba(255, 255, 255, .02), transparent);
}
.flow .container{
  background-color: #3c3c3c;
}
.flow-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr 0.1875rem) 1fr;
}

.flow-item {
  text-align: left;
  background-color: #1e1e1e;
}

.flow-item h3 {
  font-size: var(--font-size-flow-h3);
  margin-bottom: .8rem;
}

.flow-item p {
  color: var(--color-muted);
}