body {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #00f;
}
section {
  background-color: #f00;
  animation: mymove 5s 1;
  overflow: hidden;
  width: 50%;
  float: left;
}

nav {
  background-color: #0f0;
  animation: mymove 5s 1;
  overflow: hidden;
  width: 50%;
  float: right;
}

@keyframes mymove {
    from {
      font-size: 0;
      position: absolute;
      top: 50%;
      width: 0;
      }
    to {
      font-size: 100%;
      position: relative;
      left: 0;
      top:0;
      width: 50%;
    }
}