.section-intro {
  padding-left: 1rem;
  position: sticky;
}

.section-kicker {
  color: var(--color-gold);
  text-transform: uppercase;
  letter-spacing: .2em;
  font-size: 1.3rem;
}

.section-title {
  margin-top: 0;
  font-size: 3rem;
}