.section-intro {
  padding-left: 1rem;
  position: sticky;
}

.section-header {
  position: relative;
}

.section-intro::after, .section-header::after {
  content: "";
  position: absolute;
  width: 4rem;
  height: 3px;
  bottom: 3px;
  background-color: var(--color-gold);
}

.section-kicker {
  color: var(--color-gold);
  text-transform: uppercase;
  letter-spacing: .2em;
  font-size: 1.3rem;
}

.section-title {
  margin-top: 0;
  font-size: 3rem;
}