* {
  box-sizing: border-box;
}
[class*="osz-"] {
  float: left;
  padding: 15px;
  margin-bottom: 15px;
}
html {
  margin: 0;
  padding: 0;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  /*font-size: 110%;*/
}
body {
  background: #CC883D url("../kepek/hatter01.jpg") no-repeat center center fixed;
  background-size: cover;
  padding: 0;
  margin: 15px;
}
header {
  color: rgb(203, 217, 158);
  background-color: rgba(0, 0, 0, 0.4);
  margin: 0px;
}
h1, h2 {
  font-variant: small-caps;
}
h1 {
  text-align: center;
}
h2 {
  text-align: right;
}
header h1 {
  font-size: 200%;
}
header h2 {
  font-size: 110%;
}
#tartalom h1 {
  font-size: 120%;
}
header, #tartalom {
  border-radius: 15px;
  /*border: 1px dotted rgb(123, 159, 35);*//* #CC883D;*/
}
#kep {
  margin: 0;
  min-width: 150px;
  height: auto;
}
#tartalom {
  background-color: rgba(0, 0, 0, 0.5);
  color: #FFF;
}
.menu {
  float: right;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav li {
  padding: 0;
  margin-bottom: 15px;
}
/*nav li:hover {
  background-color: #0099cc;
}*/
nav li a {
  line-height: 30px;
  padding: 0 15px;
  vertical-align: middle;
  display: block;
  position: relative;
  text-decoration: none;
  text-align: center;
  border-radius: 2px;
  color:#ffeccc;
	background:-webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(113,66,6,0.7)), color-stop(1, rgba(113,66,6,0))),url("hatter03.jpg");
	background:-webkit-linear-gradient(bottom, rgba(113,66,6,0.7) 0%, rgba(113,66,6,0) 100%),url("hatter03.jpg");
	background:-moz-linear-gradient(bottom, rgba(113,66,6,0.7) 0%, rgba(113,66,6,0) 100%),url("hatter03.jpg");
	background:-o-linear-gradient(bottom, rgba(113,66,6,0.7) 0%, rgba(113,66,6,0) 100%),url("hatter03.jpg");
	background:-ms-linear-gradient(bottom, rgba(113,66,6,0.7) 0%, rgba(113,66,6,0) 100%),url("hatter03.jpg");
	background:linear-gradient(bottom, rgba(113,66,6,0.7) 0%, rgba(113,66,6,0) 100%),url("hatter03.jpg");
	background-color:#ad742b;
  box-shadow: 0px 0px 0px 1px #010101, 0px 0px 0px 2px #A8762D, 0px 0px 0px 3px #D9A847, 0px 0px 0px 4px #010101;
  -webkit-text-shadow:1px 1px 0 #000;
	-moz-text-shadow:1px 1px 0 #000;
	-o-text-shadow:1px 1px 0 #000;
	-ms-text-shadow:1px 1px 0 #000;
	text-shadow:1px 1px 0 #000;
  /*height: 30px;*/
}
nav li a:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(253,215,132,0.45)), color-stop(1, rgba(253,215,132,0)));
	background:-webkit-linear-gradient(top, rgba(253,215,132,0.45) 0%, rgba(253,215,132,0) 100%);
	background:-moz-linear-gradient(top, rgba(253,215,132,0.45) 0%, rgba(253,215,132,0) 100%);
	background:-o-linear-gradient(top, rgba(253,215,132,0.45) 0%, rgba(253,215,132,0) 100%);
	background:-ms-linear-gradient(top, rgba(253,215,132,0.45) 0%, rgba(253,215,132,0) 100%);
	background:linear-gradient(top, rgba(253,215,132,0.45) 0%, rgba(253,215,132,0) 100%);
	box-shadow:inset 0 0 2px 1px rgba(0,0,0,0.9),inset 0 0 0 2px rgba(113,66,6,0.3),inset 0 0 0 3px rgba(255,221,144,0.4)
}
nav li a:hover {
	color:#fff;
	background:-webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(81,21,10,0.7)), color-stop(1, rgba(81,21,10,0))),url("hatter03.jpg");
	background:-webkit-linear-gradient(bottom, rgba(81,21,10,0.7) 0%, rgba(81,21,10,0) 100%),url("hatter03.jpg");
	background:-moz-linear-gradient(bottom, rgba(81,21,10,0.7) 0%, rgba(81,21,10,0) 100%),url("hatter03.jpg");
	background:-o-linear-gradient(bottom, rgba(81,21,10,0.7) 0%, rgba(81,21,10,0) 100%),url("hatter03.jpg");
	background:-ms-linear-gradient(bottom, rgba(81,21,10,0.7) 0%, rgba(81,21,10,0) 100%),url("hatter03.jpg");
	background:linear-gradient(bottom, rgba(81,21,10,0.7) 0%, rgba(81,21,10,0) 100%),url("hatter03.jpg");
	background-color:#db9336;
}
/* For mobile phones: */
[class*="osz-"] {
  width: 100%;
}
@media only screen and (min-width: 600px) {
  /* For tablets: */
  .osz-tab-1 {width: 8.33%;}
  .osz-tab-2 {width: 16.66%;}
  .osz-tab-3 {width: 25%;}
  .osz-tab-4 {width: 33.33%;}
  .osz-tab-5 {width: 41.66%;}
  .osz-tab-6 {width: 50%;}
  .osz-tab-7 {width: 58.33%;}
  .osz-tab-8 {width: 66.66%;}
  .osz-tab-9 {width: 75%;}
  .osz-tab-10 {width: 83.33%;}
  .osz-tab-11 {width: 91.66%;}
  .osz-tab-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .osz-1 {width: 8.33%;}
  .osz-2 {width: 16.66%;}
  .osz-3 {width: 25%;}
  .osz-4 {width: 33.33%;}
  .osz-5 {width: 41.66%;}
  .osz-6 {width: 50%;}
  .osz-7 {width: 58.33%;}
  .osz-8 {width: 66.66%;}
  .osz-9 {width: 75%;}
  .osz-10 {width: 83.33%;}
  .osz-11 {width: 91.66%;}
  .osz-12 {width: 100%;}
}