/*.company-card dl dt, .company-card dl dd {*/
  /*background-color: #8AC007;*/
/*}*/

/*.card{
  transition-delay:var(--delay,0ms);
}*/

/*.card:hover {
  transform: translateY(-8px);
  border-color: rgba(195, 154, 103, .35);
  box-shadow: var(--shadow-hover);
}

.contact-card:hover,
.company-card:hover {
  transform: translateY(-6px);
  box-shadow: var(--shadow-hover);
}
*/